@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
.hero-text {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.text-gradient {
	background: #0bcf7f;
	background: linear-gradient(to right, #0bcf7f 0%, #0d7dcf 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient {
	background: #0bcf7f;
	background: linear-gradient(to right, #0bcf7f 0%, #0d7dcf 100%);
}

.bg {
	background-image: url(./assets/bg.jpg);
	background-size: cover;
	height: 100vh;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #3e3e3e;
}

::-webkit-scrollbar-thumb:hover {
	background: #3e3e3e;
}
